<!-- Breadcrumb -->
<section class="g-my-30">
  <div class="container">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-7">
        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#!">Home</a>
        <i class="fa fa-angle-right g-ml-7"></i>
      </li>
      <li class="list-inline-item g-mr-7">
        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#!">Pages</a>
        <i class="fa fa-angle-right g-ml-7"></i>
      </li>
      <li class="list-inline-item g-color-primary">
        <span>Profile Users Contacts</span>
      </li>
    </ul>
  </div>
</section>
<!-- End Breadcrumb -->

<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <!-- Profile Sidebar -->
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <!-- User Image -->
        <div class="u-block-hover g-pos-rel">
          <figure>
            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x450/img5.jpg" alt="Image Description">
          </figure>

          <!-- Figure Caption -->
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
            <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
              <!-- Figure Social Icons -->
              <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                <li class="list-inline-item align-middle g-mx-7">
                  <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                    <i class="icon-note u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle g-mx-7">
                  <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                    <i class="icon-notebook u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle g-mx-7">
                  <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                    <i class="icon-settings u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Caption -->

          <!-- User Info -->
          <span class="g-pos-abs g-top-20 g-left-0">
              <a class="btn btn-sm u-btn-primary rounded-0" href="#!">Johne Doe</a>
              <small class="d-block g-bg-black g-color-white g-pa-5">Project Manager</small>
            </span>
          <!-- End User Info -->
        </div>
        <!-- User Image -->


      </div>
      <!-- End Profile Sidebar -->

      <!-- Profile Content -->
      <div class="col-lg-9">
        <!-- User Contacts -->
        <div class="row g-mb-40">
          <div class="col-md-4 g-mb-30">
            <!-- Figure -->
            <figure class="u-shadow-v21 u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-bg-white g-rounded-4 text-center g-transition-0_3">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-30" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="g-font-weight-600 g-font-size-16 g-mb-15">Mikel Andrews1</h4>
                <span class="d-block g-color-primary g-font-weight-600 g-font-size-13 g-mb-15">Follow</span>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>

                </ul>
                <!-- End Figure Info -->
              </div>

              <!-- Figure Footer -->
              <footer class="d-flex justify-content-between g-bg-gray-light-v5 g-py-20 g-px-40">
                <a class="g-color-gray-dark-v5 g-color-primary--hover g-font-size-13 g-text-underline--none--hover" href="#!">25,000 Followers</a>
                <a class="g-color-gray-dark-v5 g-color-primary--hover g-font-weight-600--hover g-font-size-13 g-text-underline--none--hover" href="#!">50 Following</a>
              </footer>
              <!-- End Figure Footer -->
            </figure>
            <!-- End Figure -->
          </div>

          <div class="col-md-4 g-mb-30 g-mb-0--md">
            <!-- Figure -->
            <figure class="u-shadow-v21 u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-bg-white g-rounded-4 text-center g-transition-0_3">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-30" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="g-font-weight-600 g-font-size-16 g-mb-15">Mikel Andrews2</h4>
                <span class="d-block g-color-primary g-font-weight-600 g-font-size-13 g-mb-15">Follow</span>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>

                </ul>
                <!-- End Figure Info -->
              </div>

              <!-- Figure Footer -->
              <footer class="d-flex justify-content-between g-bg-gray-light-v5 g-py-20 g-px-40">
                <a class="g-color-gray-dark-v5 g-color-primary--hover g-font-size-13 g-text-underline--none--hover" href="#!">25,000 Followers</a>
                <a class="g-color-gray-dark-v5 g-color-primary--hover g-font-weight-600--hover g-font-size-13 g-text-underline--none--hover" href="#!">50 Following</a>
              </footer>
              <!-- End Figure Footer -->
            </figure>
            <!-- End Figure -->
          </div>

          <div class="col-md-4 g-mb-30 g-mb-0--md">
            <!-- Figure -->
            <figure class="u-shadow-v21 u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-bg-white g-rounded-4 text-center g-transition-0_3">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-30" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="g-font-weight-600 g-font-size-16 g-mb-15">Mikel Andrews3</h4>
                <span class="d-block g-color-primary g-font-weight-600 g-font-size-13 g-mb-15">Follow</span>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#!">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>

                </ul>
                <!-- End Figure Info -->
              </div>

              <!-- Figure Footer -->
              <footer class="d-flex justify-content-between g-bg-gray-light-v5 g-py-20 g-px-40">
                <a class="g-color-gray-dark-v5 g-color-primary--hover g-font-size-13 g-text-underline--none--hover" href="#!">25,000 Followers</a>
                <a class="g-color-gray-dark-v5 g-color-primary--hover g-font-weight-600--hover g-font-size-13 g-text-underline--none--hover" href="#!">50 Following</a>
              </footer>
              <!-- End Figure Footer -->
            </figure>
            <!-- End Figure -->
          </div>
        </div>
        <!-- End User Contacts -->

        <!-- User Contacts -->
        <div class="row g-mb-40">
          <div class="col-md-4 g-mb-30 g-mb-0--md">
            <!-- Figure -->
            <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-20" src="../../assets/img-temp/125x125/img4.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="h5 g-mb-5">Maria Parker</h4>
                <div class="d-block">
                  <span class="g-color-cyan g-font-size-default g-mr-3">
                    <i class="icon-user"></i>
                  </span>
                  <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Employee</em>
                </div>
                <!-- End Figure Info -->
              </div>

              <hr class="g-brd-gray-light-v4 g-my-0">

              <!-- Figure List -->
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="#!">
                    <i class="icon-speech"></i>
                  </a>
                </li>
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" href="#!">
                    <i class="icon-envelope-letter"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" href="#!">
                    <i class="icon-screen-smartphone"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure List -->
            </figure>
            <!-- End Figure -->
          </div>

          <div class="col-md-4 g-mb-30 g-mb-0--md">
            <!-- Figure -->
            <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-pink--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-20" src="../../assets/img-temp/125x125/img5.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="h5 g-mb-5">Bryant Gordon</h4>
                <div class="d-block">
                  <span class="g-color-pink g-font-size-default g-mr-3">
                    <i class="icon-user"></i>
                  </span>
                  <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Family</em>
                </div>
                <!-- End Figure Info -->
              </div>

              <hr class="g-brd-gray-light-v4 g-my-0">

              <!-- Figure List -->
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="#!">
                    <i class="icon-speech"></i>
                  </a>
                </li>
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" href="#!">
                    <i class="icon-envelope-letter"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" href="#!">
                    <i class="icon-screen-smartphone"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure List -->
            </figure>
            <!-- End Figure -->
          </div>

          <div class="col-md-4">
            <!-- Figure -->
            <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-purple--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-20" src="../../assets/img-temp/125x125/img6.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="h5 g-mb-5">Kelly Harrington</h4>
                <div class="d-block">
                  <span class="g-color-purple g-font-size-default g-mr-3">
                    <i class="icon-user"></i>
                  </span>
                  <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Friend</em>
                </div>
                <!-- End Figure Info -->
              </div>

              <hr class="g-brd-gray-light-v4 g-my-0">

              <!-- Figure List -->
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="#!">
                    <i class="icon-speech"></i>
                  </a>
                </li>
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" href="#!">
                    <i class="icon-envelope-letter"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" href="#!">
                    <i class="icon-screen-smartphone"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure List -->
            </figure>
            <!-- End Figure -->
          </div>
        </div>
        <!-- End User Contacts -->

        <!-- User Contacts -->
        <div class="row g-mb-40">
          <div class="col-md-4 g-mb-30 g-mb-0--md">
            <!-- Figure -->
            <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-20" src="../../assets/img-temp/125x125/img7.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="h5 g-mb-5">Claire Jensen</h4>
                <div class="d-block">
                  <span class="g-color-cyan g-font-size-default g-mr-3">
                    <i class="icon-user"></i>
                  </span>
                  <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Employee</em>
                </div>
                <!-- End Figure Info -->
              </div>

              <hr class="g-brd-gray-light-v4 g-my-0">

              <!-- Figure List -->
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="#!">
                    <i class="icon-speech"></i>
                  </a>
                </li>
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" href="#!">
                    <i class="icon-envelope-letter"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" href="#!">
                    <i class="icon-screen-smartphone"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure List -->
            </figure>
            <!-- End Figure -->
          </div>

          <div class="col-md-4 g-mb-30 g-mb-0--md">
            <!-- Figure -->
            <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-pink--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-20" src="../../assets/img-temp/125x125/img8.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="h5 g-mb-5">Darrel Park</h4>
                <div class="d-block">
                  <span class="g-color-pink g-font-size-default g-mr-3">
                    <i class="icon-user"></i>
                  </span>
                  <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Family</em>
                </div>
                <!-- End Figure Info -->
              </div>

              <hr class="g-brd-gray-light-v4 g-my-0">

              <!-- Figure List -->
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="#!">
                    <i class="icon-speech"></i>
                  </a>
                </li>
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" href="#!">
                    <i class="icon-envelope-letter"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" href="#!">
                    <i class="icon-screen-smartphone"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure List -->
            </figure>
            <!-- End Figure -->
          </div>

          <div class="col-md-4">
            <!-- Figure -->
            <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-purple--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-20" src="../../assets/img-temp/125x125/img9.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="h5 g-mb-5">Sally Manning</h4>
                <div class="d-block">
                  <span class="g-color-purple g-font-size-default g-mr-3">
                    <i class="icon-user"></i>
                  </span>
                  <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Friend</em>
                </div>
                <!-- End Figure Info -->
              </div>

              <hr class="g-brd-gray-light-v4 g-my-0">

              <!-- Figure List -->
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="#!">
                    <i class="icon-speech"></i>
                  </a>
                </li>
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" href="#!">
                    <i class="icon-envelope-letter"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" href="#!">
                    <i class="icon-screen-smartphone"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure List -->
            </figure>
            <!-- End Figure -->
          </div>
        </div>
        <!-- End User Contacts -->

        <!-- User Contacts -->
        <div class="row g-mb-40">
          <div class="col-md-4 g-mb-30 g-mb-0--md">
            <!-- Figure -->
            <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-20" src="../../assets/img-temp/125x125/img10.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="h5 g-mb-5">Dave Carlson</h4>
                <div class="d-block">
                  <span class="g-color-cyan g-font-size-default g-mr-3">
                    <i class="icon-user"></i>
                  </span>
                  <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Employee</em>
                </div>
                <!-- End Figure Info -->
              </div>

              <hr class="g-brd-gray-light-v4 g-my-0">

              <!-- Figure List -->
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="#!">
                    <i class="icon-speech"></i>
                  </a>
                </li>
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" href="#!">
                    <i class="icon-envelope-letter"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" href="#!">
                    <i class="icon-screen-smartphone"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure List -->
            </figure>
            <!-- End Figure -->
          </div>

          <div class="col-md-4 g-mb-30 g-mb-0--md">
            <!-- Figure -->
            <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-pink--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-20" src="../../assets/img-temp/125x125/img11.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="h5 g-mb-5">Julia Copeland</h4>
                <div class="d-block">
                  <span class="g-color-pink g-font-size-default g-mr-3">
                    <i class="icon-user"></i>
                  </span>
                  <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Family</em>
                </div>
                <!-- End Figure Info -->
              </div>

              <hr class="g-brd-gray-light-v4 g-my-0">

              <!-- Figure List -->
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="#!">
                    <i class="icon-speech"></i>
                  </a>
                </li>
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" href="#!">
                    <i class="icon-envelope-letter"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" href="#!">
                    <i class="icon-screen-smartphone"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure List -->
            </figure>
            <!-- End Figure -->
          </div>

          <div class="col-md-4">
            <!-- Figure -->
            <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-purple--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-20" src="../../assets/img-temp/125x125/img12.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="h5 g-mb-5">Willis Roy</h4>
                <div class="d-block">
                  <span class="g-color-purple g-font-size-default g-mr-3">
                    <i class="icon-user"></i>
                  </span>
                  <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Friend</em>
                </div>
                <!-- End Figure Info -->
              </div>

              <hr class="g-brd-gray-light-v4 g-my-0">

              <!-- Figure List -->
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="#!">
                    <i class="icon-speech"></i>
                  </a>
                </li>
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" href="#!">
                    <i class="icon-envelope-letter"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" href="#!">
                    <i class="icon-screen-smartphone"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure List -->
            </figure>
            <!-- End Figure -->
          </div>
        </div>
        <!-- End User Contacts -->

        <!-- Pagination -->
        <nav class="text-center" aria-label="Page Navigation">
          <ul class="list-inline">
            <li class="list-inline-item float-sm-left">
              <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="#!" aria-label="Previous">
                <span aria-hidden="true">
                  <i class="fa fa-angle-left g-mr-5"></i> Previous
                </span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="list-inline-item g-hidden-sm-down">
              <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#!">1</a>
            </li>
            <li class="list-inline-item g-hidden-sm-down">
              <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" href="#!">2</a>
            </li>
            <li class="list-inline-item g-hidden-sm-down">
              <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#!">3</a>
            </li>
            <li class="list-inline-item g-hidden-sm-down">
              <a class="g-pa-7-14">...</a>
            </li>
            <li class="list-inline-item g-hidden-sm-down">
              <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#!">80</a>
            </li>
            <li class="list-inline-item float-sm-right">
              <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="#!" aria-label="Next">
                <span aria-hidden="true">
                  Next <i class="fa fa-angle-right g-ml-5"></i>
                </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Pagination -->
      </div>
      <!-- End Profile Content -->
    </div>
  </div>
</section>
