<!-- Breadcrumb -->
<section class="g-my-30">
  <div class="container">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-7">
        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#!">Home</a>
        <i class="fa fa-angle-right g-ml-7"></i>
      </li>
      <li class="list-inline-item g-mr-7">
        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#!">Pages</a>
        <i class="fa fa-angle-right g-ml-7"></i>
      </li>
      <li class="list-inline-item g-color-primary">
        <span>Profile Settings</span>
      </li>
    </ul>
  </div>
</section>
<!-- End Breadcrumb -->

<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <!-- Profile Sidebar -->
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <!-- User Image -->
        <div class="u-block-hover g-pos-rel">
          <figure>
            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x450/img5.jpg" alt="Image Description">
          </figure>

          <!-- Figure Caption -->
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
            <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
              <!-- Figure Social Icons -->
              <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                <li class="list-inline-item align-middle g-mx-7">
                  <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                    <i class="icon-note u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle g-mx-7">
                  <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                    <i class="icon-notebook u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle g-mx-7">
                  <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                    <i class="icon-settings u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Caption -->

          <!-- User Info -->
          <span class="g-pos-abs g-top-20 g-left-0">
              <a class="btn btn-sm u-btn-primary rounded-0" href="#!">Johne Doe</a>
              <small class="d-block g-bg-black g-color-white g-pa-5">Project Manager</small>
            </span>
          <!-- End User Info -->
        </div>
        <!-- User Image -->



        <!-- Project Progress -->
        <div class="card border-0 rounded-0 g-mb-50">


          <!-- Panel Body -->
          <div class="js-scrollbar card-block u-info-v1-1 g-bg-white-gradient-v1--after g-height-300 g-pa-0">

          </div>
          <!-- End Panel Body -->
        </div>
        <!-- End Project Progress -->
      </div>
      <!-- End Profile Sidebar -->

      <!-- Profle Content -->
      <div class="col-lg-9">


        <!-- Tab panes -->
        <div id="nav-1-1-default-hor-left-underline" class="tab-content">
          <!-- Edit Profile -->
          <div class="tab-pane fade show active" id="nav-1-1-default-hor-left-underline--1" role="tabpanel">
            <h2 class="h4 g-font-weight-300">Configuración de la cuenta</h2>

            <form>
                  <!-- Email Notification -->
                  <div class="form-group">
                    <label class="d-flex align-items-center justify-content-between">
                      <span>Notificaciones por Email</span>
                      <div class="u-check">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="emailNotification" type="checkbox" checked>
                        <div class="u-check-icon-radio-v7">
                          <i class="d-inline-block"></i>
                        </div>
                      </div>
                    </label>
                  </div>
                  <!-- End Email Notification -->

                  <hr class="g-brd-gray-light-v4 g-my-20">

                  <!-- Comments Notification -->
                  <div class="form-group">
                    <label class="d-flex align-items-center justify-content-between">
                      <span>Recibir notificaciones de mis grupos</span>
                      <div class="u-check">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="commentNotification" type="checkbox">
                        <div class="u-check-icon-radio-v7">
                          <i class="d-inline-block"></i>
                        </div>
                      </div>
                    </label>
                  </div>
                  <!-- End Comments Notification -->

                  <hr class="g-brd-gray-light-v4 g-my-20">

                  <!-- Update Notification -->
                  <div class="form-group">
                    <label class="d-flex align-items-center justify-content-between">
                      <span>Recibir una notificación de los mensajes recibidos</span>
                      <div class="u-check">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="updateNotification" type="checkbox" checked>
                        <div class="u-check-icon-radio-v7">
                          <i class="d-inline-block"></i>
                        </div>
                      </div>
                    </label>
                  </div>
                  <!-- End Update Notification -->

                  <hr class="g-brd-gray-light-v4 g-my-25">

                  <!-- Message Notification -->
                  <div class="form-group">
                    <label class="d-flex align-items-center justify-content-between">
                      <span>Recibir una notificación de mis artículos</span>
                      <div class="u-check">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="messageNotification" type="checkbox" checked>
                        <div class="u-check-icon-radio-v7">
                          <i class="d-inline-block"></i>
                        </div>
                      </div>
                    </label>
                  </div>
                  <!-- End Message Notification -->

                  <hr class="g-brd-gray-light-v4 g-my-25">

                  <!-- Newsletter Notification -->
                  <div class="form-group">
                    <label class="d-flex align-items-center justify-content-between">
                      <span>Recibir la newsletter mensual</span>
                      <div class="u-check">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="newsletterNotification" type="checkbox">
                        <div class="u-check-icon-radio-v7">
                          <i class="d-inline-block"></i>
                        </div>
                      </div>
                    </label>
                  </div>
                  <!-- End Newsletter Notification -->

                  <hr class="g-brd-gray-light-v4 g-my-25">

                  <div class="text-sm-right">
                    <a class="btn u-btn-darkgray rounded-0 g-py-12 g-px-25 g-mr-10" href="#!">Cancel</a>
                    <a class="btn u-btn-primary rounded-0 g-py-12 g-px-25" href="#!">Save Changes</a>
                  </div>
                </form>

                  <hr class="g-brd-gray-light-v4 g-my-25">

                <h2 class="h4 g-font-weight-300">Cancelar la cuenta:</h2>

                <div class="text-sm-right">
                  <button type="button" class="btn btn-danger g-mr-10 g-mb-15" href="#!">Borrar cuenta</button>
                </div>

                <p>Una vez cancelada ya no se podrá recuperar.</p>

          </div>
          <!-- End Edit Profile -->

        </div>
        <!-- End Tab panes -->
      </div>
      <!-- End Profle Content -->
    </div>
  </div>
</section>
