<!-- Breadcrumb -->
<section class="g-my-30">
  <div class="container">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-7">
        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#!">Home</a>
        <i class="fa fa-angle-right g-ml-7"></i>
      </li>
      <li class="list-inline-item g-mr-7">
        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#!">Pages</a>
        <i class="fa fa-angle-right g-ml-7"></i>
      </li>
      <li class="list-inline-item g-color-primary">
        <span>Asignar Votos</span>
      </li>
    </ul>
  </div>
</section>
<!-- End Breadcrumb -->

<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <!-- Profile Sidebar -->
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <!-- User Image -->
        <div class="u-block-hover g-pos-rel">
          <figure>

          </figure>

          <!-- Figure Caption -->
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
            <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
              <!-- Figure Social Icons -->
              <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">



              </ul>
              <!-- End Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Caption -->

          <!-- User Info -->

          <!-- End User Info -->
        </div>
        <!-- User Image -->



        <!-- Project Progress -->
        <div class="card border-0 rounded-0 g-mb-50">


          <!-- Panel Body -->
          <div class="js-scrollbar card-block u-info-v1-1 g-bg-white-gradient-v1--after g-height-300 g-pa-0">

          </div>
          <!-- End Panel Body -->
        </div>
        <!-- End Project Progress -->
      </div>
      <!-- End Profile Sidebar -->

      <!-- Profle Content -->
      <div class="col-lg-9">


        <!-- Tab panes -->
        <div id="nav-1-1-default-hor-left-underline" class="tab-content">
          <!-- Edit Profile -->
          <div class="tab-pane fade show active" id="nav-1-1-default-hor-left-underline--1" role="tabpanel">
            <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Asigne sus votos a las nuevas funcionalidades</h2>
            <h3 class="h6 g-font-weight-50">Las funcionalidades más votadas serán valoradas primero para su desarrollo</h3>

            <ul class="list-unstyled g-mb-30">

              <!-- Phone Number -->
              <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                <div class="g-pr-10">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Votos disponibles</strong>
                  <span class="align-top">90</span>
                </div>
                <span>
                    <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                  </span>
              </li>
              <!-- End Phone Number -->

              <!-- Office Number -->
              <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                <div class="g-pr-10">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Votos que ya has asignado a esta funcionalidad</strong>
                  <span class="align-top">78</span>
                </div>
                <span>
                    <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                  </span>
              </li>
              <!-- End Office Number -->

              <div class="text-sm-right">
                <a class="btn u-btn-red rounded-0 g-py-12 g-px-25 g-mr-10" href="#!">Eliminar los votos ya asignados</a>
              </div>






              <!-- Name -->
              <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                <div class="g-pr-10">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">ID</strong>
                  <span class="align-top">1</span>
                </div>
                <span>
                    <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                  </span>
              </li>
              <!-- End Name -->

              <!-- Your ID -->
              <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                <div class="g-pr-10">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Status</strong>
                  <span class="align-top">APROBADO</span>
                </div>
                <span>
                    <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                  </span>
              </li>
              <!-- End Your ID -->

              <!-- Company Name -->
              <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                <div class="g-pr-10">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Título</strong>
                  <span class="align-top">Funcionalidad de prueba</span>
                </div>
                <span>
                    <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                  </span>
              </li>
              <!-- End Company Name -->

              <!-- Position -->
              <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                <div class="g-pr-10">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Fecha de Entrega</strong>
                  <span class="align-top">martes, 16 de enero de 2018</span>
                </div>
                <span>
                    <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                  </span>
              </li>
              <!-- End Position -->

              <!-- Primary Email Address -->
              <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                <div class="g-pr-10">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Asignar votos</strong>
                  <span class="align-top">votos añadidos a los ya asignados</span>
                </div>
                <span>
                    <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                  </span>
              </li>
              <!-- End Primary Email Address -->

            </ul>

            <div class="text-sm-right">
              <a class="btn u-btn-darkgray rounded-0 g-py-12 g-px-25 g-mr-10" href="#!">Cancel</a>
              <a class="btn u-btn-primary rounded-0 g-py-12 g-px-25" href="#!">Save Changes</a>
            </div>
          </div>
          <!-- End Edit Profile -->

        </div>
        <!-- End Tab panes -->
      </div>
      <!-- End Profle Content -->
    </div>
  </div>
</section>
