<section class="g-pt-5 g-pb-90">
	<!-- Section -->
	<div class="container">
		<!-- Container -->
		<div class="row">
			<section class="container g-pt-100">
				<div class="col-md-12">
					<a href="#!" class="btn btn-lg u-btn-primary g-mr-10 g-mb-15">
						<i class="fa fa-arrow-left g-mr-5"></i> Volver al listado
					</a> <a href="#!" class="btn btn-lg u-btn-primary g-mr-10 g-mb-15">
						<i class="fa fa-share-alt-square g-mr-5"></i> Compartir
					</a> <a href="#!" class="btn btn-lg u-btn-primary g-mr-10 g-mb-15">
						<i class="fa fa-envelope g-mr-5"></i> Crear un debate
					</a> <a href="#!" class="btn btn-lg u-btn-primary g-mr-10 g-mb-15">
						<i class="fa fa-facebook g-mr-5"></i>
					</a> <a href="#!" class="btn btn-lg u-btn-primary g-mr-10 g-mb-15">
						<i class="fa fa-twitter g-mr-5"></i>
					</a> <a href="#!" class="btn btn-lg u-btn-primary g-mr-10 g-mb-15">
						<i class="fa fa-google-plus g-mr-5"></i>
					</a>
				</div>
			</section>
		</div>


		<section class="container g-pt-10">
			<div class="d-md-flex justify-content-between g-mb-30">
				<!-- Simple Bordered Tagline -->
				<div
					class="g-brd-around g-brd-gray-dark-v4 g-line-height-2 g-rounded-3 g-pa-40 g-mb-30"
					role="alert">
					<div class="row">
						<div class="col-md-9">
							<a [routerLink]="['/debates']" class="nav-link">
								<h3 class="h2 g-font-weight-700 g-mb-20">¿Ves a Pablo
									Iglesias como Presidente del Gobierno?</h3>
							</a>
							<div class="mb-0">
			                <!-- Table Striped Rows -->
			                  <div class="table-responsive">
			                    <table class="table table-striped">
			                      <thead>
			                        <tr>
			                          <th></th>
			                          <th>Votos</th>
			                          <th>%</th>
			                        </tr>
			                      </thead>

			                      <tbody>
			                        <tr>
			                          <td><h3 class="h2 g-font-weight-400 g-mb-20">Sí</h3></td>
			                          <td> 856</td>
			                          <td>26,32%</td>
			                        </tr>
			                        <tr>
			                          <td><h3 class="h2 g-font-weight-400 g-mb-20">No</h3></td>
			                          <td>1 856</td>
			                          <td>36,32%</td>
			                        </tr>
			                        <tr>
			                          <td><h3 class="h2 g-font-weight-400 g-mb-20">Tal vez</h3></td>
			                          <td>2 856</td>
			                          <td>46,32%</td>
			                        </tr>
			                        <tr>
			                          <td><h3 class="h2 g-font-weight-400 g-mb-20">Ni de puta coña y a ver si me cabe más texto</h3></td>
			                          <td>3 856</td>
			                          <td>56,32%</td>
			                        </tr>
			                      </tbody>
			                    </table>
			                  </div>
			                  <!-- End Table Striped Rows -->

							</div>

							<a href="#!" class="btn btn-lg u-btn-darkgray g-mr-10 g-mb-15">
								<i class="fa fa-envelope g-mr-5"></i> Votos: 4.289
							</a> <a href="#!"
								class="btn btn-lg u-btn-outline-darkgray g-mr-10 g-mb-15"> <i
								class="fa fa-comments g-mr-5"></i> Comentarios: 289
							</a>
						</div>

						<div class="col-md-3">
              <!-- Simple Plain -->
              <ul class="u-list-inline text-center">
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
                  href="#!">POLÍTICA</a>
                </li>

              </ul>
              <!-- End Simple Plain -->


              Gráfico
            </div>

					</div>


				</div>
				<!-- End Simple Bordered Tagline -->
			</div>
		</section>


    <section>
    	<div class="shortcode-html">
    		<div role="tablist" aria-multiselectable="true">
    			<!-- Card -->
    			<div class="card g-brd-0 g-mb-5">
    				<div id="accordion-03-heading-01" class="card-header g-pa-0" role="tab">
    					<h5 class="g-bg-white g-px-0 g-py-10 mb-0">
    						<a  class="d-block u-link-v5 g-color-main g-color-primary--hover"
                    href="#accordion-03-body-01" data-toggle="collapse"
    							  aria-expanded="true" aria-controls="accordion-03-body-01">
                      <button type="button" class="btn btn-primary btn-lg btn-block g-mr-10 g-mb-15">
                        Webs externas que alojan el debate:
                      </button>
                </a>
    					</h5>
    				</div>
    				<div id="accordion-03-body-01" class="collapse show" role="tabpanel"
    					   aria-labelledby="accordion-03-heading-01">
    					<div class="card-block g-px-0">

    						<!-- Table Striped Rows -->
    						<div class="table-responsive">
    							<table class="table table-striped">
    								<thead>
    									<tr>
    										<th>#</th>
    										<th>Dominio</th>
    										<th class="hidden-sm">URL de la encuesta</th>
    										<th>Filtrar</th>
    									</tr>
    								</thead>

    								<tbody>
    									<tr>
    										<td>1</td>
    										<td>huffpost.com</td>
    										<td class="hidden-sm">http://m.huffpost.com/es/entry/6248846?1417452241</td>
    										<td>@mdo</td>
    									</tr>
    									<tr>
    										<td>2</td>
    										<td>quoners.com.es</td>
    										<td class="hidden-sm">
    											http://www.quoners.com.es/debate/a-quien-le-darias-el-balon-de-oro</td>
    										<td>@fat</td>
    									</tr>
    									<tr>
    										<td>3</td>
    										<td>huffingtonpost.es</td>
    										<td class="hidden-sm">
                          http://www.huffingtonpost.es/2014/12/01/balon-de-oro-2014_n_6248846.html?utm_hp_ref=spain
    											http://www.huffingtonpost.es/2014/12/01/balon-de-oro-2014_n_6248846.html?1417452241
    											http://www.huffingtonpost.es/2014/12/01/balon-de-oro-2014_n_6248846.html
    											http://www.huffingtonpost.es/2014/12/01/balon-de-oro-2014_n_6248846.html?utm_hp_ref=spain&ir=spain
                        </td>
    										<td>@twitter</td>
    									</tr>
    								</tbody>
    							</table>
    						</div>
    						<!-- End Table Striped Rows -->

    					</div>
    				</div>
    			</div>
    			<!-- End Card -->

    		</div>
    	</div>
    </section>

		<div class="row">
			<!-- Accordions -->
			<section class="container g-pt-100">
				<div class="row">
					<div class="col-md-6">

            <button type="button" class="btn btn-primary btn-lg btn-block g-mr-10 g-mb-15">Argumentos a Favor</button>

						<div class="shortcode-html">
							<div role="tablist" aria-multiselectable="true">
								<!-- Card -->
								<div class="card g-brd-0 g-mb-5">
									<div id="accordion-01-heading-01" class="card-header g-pa-0"
										role="tab">
										<h5 class="g-bg-white g-px-0 g-py-10 mb-0">
											<a
												class="d-block u-link-v5 g-color-main g-color-primary--hover"
												href="#accordion-01-body-01" data-toggle="collapse"
												aria-expanded="true" aria-controls="accordion-01-body-01">
                        Alternativa 1
											</a>
										</h5>
									</div>
									<div id="accordion-01-body-01" class="collapse show"
										role="tabpanel" aria-labelledby="accordion-01-heading-01">
										<div class="card-block g-px-0">
                      <div class="media g-mb-30">
                        <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-20" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                        <div class="media-body g-brd-around g-brd-gray-light-v4 g-pa-30">
                          <div class="g-mb-15">
                            <h5 class="d-flex justify-content-between align-items-center h5 g-color-gray-dark-v1 mb-0">
                              <span class="d-block g-mr-10">James Coolman</span>
                              <a class="u-tags-v1 g-font-size-12 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#!">Author</a>
                            </h5>
                            <span class="g-color-gray-dark-v4 g-font-size-12">2 days ago</span>
                          </div>

                          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                            felis in faucibus ras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>

                          <ul class="list-inline d-sm-flex my-0">
                            <li class="list-inline-item g-mr-20">
                              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                <i class="icon-like g-pos-rel g-top-1 g-mr-3"></i>
                                214
                              </a>
                            </li>
                            <li class="list-inline-item g-mr-20">
                              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                <i class="icon-dislike g-pos-rel g-top-1 g-mr-3"></i>
                                35
                              </a>
                            </li>
                            <li class="list-inline-item ml-auto">
                              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                <i class="icon-note g-pos-rel g-top-1 g-mr-3"></i>
                                Reply
                              </a>
                            </li>
                          </ul>
                        </div>
                        </div>

                    </div>
									</div>
								</div>
								<!-- End Card -->
								<!-- Card -->
								<div class="card g-brd-0 g-mb-5">
									<div id="accordion-01-heading-02" class="card-header g-pa-0"
										role="tab">
										<h5 class="g-bg-white g-px-0 g-py-10 mb-0">
											<a
												class="collapsed d-block u-link-v5 g-color-main g-color-primary--hover"
												href="#accordion-01-body-02" data-toggle="collapse"
												aria-expanded="true" aria-controls="accordion-01-body-02">
                        Alternativa 2
											</a>
										</h5>
									</div>
									<div id="accordion-01-body-02" class="collapse show"
										role="tabpanel" aria-labelledby="accordion-01-heading-02">
										<div class="card-block g-px-0">


                      <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-20" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                      <div class="media-body g-brd-around g-brd-gray-light-v4 g-pa-30">
                        <div class="g-mb-15">
                          <h5 class="d-flex justify-content-between align-items-center h5 g-color-gray-dark-v1 mb-0">
                            <span class="d-block g-mr-10">James Coolman</span>
                            <a class="u-tags-v1 g-font-size-12 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#!">Author</a>
                          </h5>
                          <span class="g-color-gray-dark-v4 g-font-size-12">2 days ago</span>
                        </div>

                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                          felis in faucibus ras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>

                        <ul class="list-inline d-sm-flex my-0">
                          <li class="list-inline-item g-mr-20">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                              <i class="icon-like g-pos-rel g-top-1 g-mr-3"></i>
                              214
                            </a>
                          </li>
                          <li class="list-inline-item g-mr-20">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                              <i class="icon-dislike g-pos-rel g-top-1 g-mr-3"></i>
                              35
                            </a>
                          </li>
                          <li class="list-inline-item ml-auto">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                              <i class="icon-note g-pos-rel g-top-1 g-mr-3"></i>
                              Reply
                            </a>
                          </li>
                        </ul>
                      </div>





                    </div>
									</div>
								</div>
								<!-- End Card -->
								<!-- Card -->
								<div class="card g-brd-0 g-mb-5">
									<div id="accordion-01-heading-03" class="card-header g-pa-0"
										role="tab">
										<h5 class="g-bg-white g-px-0 g-py-10 mb-0">
											<a
												class="collapsed d-block u-link-v5 g-color-main g-color-primary--hover"
												href="#accordion-01-body-03" data-toggle="collapse"
												aria-expanded="true" aria-controls="accordion-01-body-03">
                        Alternativa 3
											</a>
										</h5>
									</div>
									<div id="accordion-01-body-03" class="collapse show"
										role="tabpanel" aria-labelledby="accordion-01-heading-03">
										<div class="card-block g-px-0">





                      <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-20" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                      <div class="media-body g-brd-around g-brd-gray-light-v4 g-pa-30">
                        <div class="g-mb-15">
                          <h5 class="d-flex justify-content-between align-items-center h5 g-color-gray-dark-v1 mb-0">
                            <span class="d-block g-mr-10">James Coolman</span>
                            <a class="u-tags-v1 g-font-size-12 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#!">Author</a>
                          </h5>
                          <span class="g-color-gray-dark-v4 g-font-size-12">2 days ago</span>
                        </div>

                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                          felis in faucibus ras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>

                        <ul class="list-inline d-sm-flex my-0">
                          <li class="list-inline-item g-mr-20">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                              <i class="icon-like g-pos-rel g-top-1 g-mr-3"></i>
                              214
                            </a>
                          </li>
                          <li class="list-inline-item g-mr-20">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                              <i class="icon-dislike g-pos-rel g-top-1 g-mr-3"></i>
                              35
                            </a>
                          </li>
                          <li class="list-inline-item ml-auto">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                              <i class="icon-note g-pos-rel g-top-1 g-mr-3"></i>
                              Reply
                            </a>
                          </li>
                        </ul>
                      </div>
                      </div>


									</div>
								</div>
								<!-- End Card -->
							</div>
						</div>

					</div>

					<div class="col-md-6">
						<button type="button" class="btn btn-primary btn-lg btn-block g-mr-10 g-mb-15">Argumentos en Contra</button>
						<div class="shortcode-html">
							<div role="tablist" aria-multiselectable="true">
								<!-- Card -->
								<div class="card g-brd-0 g-mb-5">
									<div id="accordion-02-heading-01" class="card-header g-pa-0"
										role="tab">
										<h5 class="g-bg-white g-px-0 g-py-10 mb-0">
											<a
												class="d-block u-link-v5 g-color-main g-color-primary--hover"
												href="#accordion-02-body-01" data-toggle="collapse"
												aria-expanded="true" aria-controls="accordion-02-body-01">
                        Alternativa 1
											</a>
										</h5>
									</div>
									<div id="accordion-02-body-01" class="collapse show"
										role="tabpanel" aria-labelledby="accordion-02-heading-01">
										<div class="card-block g-px-0">This is where we sit
											down, grab a cup of coffee and dial in the details.
											Understanding the task at hand and ironing out the wrinkles
											is key. Now that we've aligned the details, it's time to get
											things mapped out and organized. This part is really crucial
											in keeping the project in line to completion.</div>
									</div>
								</div>
								<!-- End Card -->
								<!-- Card -->
								<div class="card g-brd-0 g-mb-5">
									<div id="accordion-02-heading-02" class="card-header g-pa-0"
										role="tab">
										<h5 class="g-bg-white g-px-0 g-py-10 mb-0">
											<a
												class="collapsed d-block u-link-v5 g-color-main g-color-primary--hover"
												href="#accordion-02-body-02" data-toggle="collapse"
												aria-expanded="true" aria-controls="accordion-02-body-02">
                        Alternativa 2
											</a>
										</h5>
									</div>
									<div id="accordion-02-body-02" class="collapse show"
										role="tabpanel" aria-labelledby="accordion-02-heading-02">
										<div class="card-block g-px-0">This is where we sit
											down, grab a cup of coffee and dial in the details.
											Understanding the task at hand and ironing out the wrinkles
											is key. Now that we've aligned the details, it's time to get
											things mapped out and organized. This part is really crucial
											in keeping the project in line to completion.</div>
									</div>
								</div>
								<!-- End Card -->
								<!-- Card -->
								<div class="card g-brd-0 g-mb-5">
									<div id="accordion-02-heading-03" class="card-header g-pa-0"
										role="tab">
										<h5 class="g-bg-white g-px-0 g-py-10 mb-0">
											<a
												class="collapsed d-block u-link-v5 g-color-main g-color-primary--hover"
												href="#accordion-02-body-03" data-toggle="collapse"
												aria-expanded="true" aria-controls="accordion-02-body-03">
                        Alternativa 3
											</a>
										</h5>
									</div>
									<div id="accordion-02-body-03" class="collapse show"
										role="tabpanel" aria-labelledby="accordion-02-heading-03">
										<div class="card-block g-px-0">This is where we sit
											down, grab a cup of coffee and dial in the details.
											Understanding the task at hand and ironing out the wrinkles
											is key. Now that we've aligned the details, it's time to get
											things mapped out and organized. This part is really crucial
											in keeping the project in line to completion.</div>
									</div>
								</div>
								<!-- End Card -->
							</div>
						</div>

					</div>

				</div>
			</section>
			<!-- End Accordions -->
		</div>

		<div class="row">
			<section class="container g-pt-100">
				<div class="col-md-12">
					<ul class="u-list-inline">
						<li class="list-inline-item g-mb-10"><a
							class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10"
							href="#!"> <i class="fa fa-tag mr-1"></i> España
						</a></li>
						<li class="list-inline-item g-mb-10"><a
							class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10"
							href="#!"> <i class="fa fa-tag mr-1"></i> Pablo Iglesias
						</a></li>
						<li class="list-inline-item g-mb-10"><a
							class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10"
							href="#!"> <i class="fa fa-tag mr-1"></i> Podemos
						</a></li>
						<li class="list-inline-item g-mb-10"><a
							class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10"
							href="#!"> <i class="fa fa-tag mr-1"></i> Presidente
						</a></li>
					</ul>
				</div>
			</section>
		</div>

		<!-- End Container -->
	</div>
	<!-- End Section -->
</section>
